app/framework/com/eunionz/component/webservice/example.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://APIPerson/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://APIPerson/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://APIPerson/">
      <xsd:element name="login">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="jobnumber" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="json" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="APIPerson">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest"/>
      <wsdl:output message="tns:loginResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIPersonSOAP" type="tns:APIPerson">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://APIPerson/login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIPerson">
    <wsdl:port binding="tns:APIPersonSOAP" name="APIPersonSOAP">
      <soap:address location="http://192.168.1.200/powerpad_mcc/?api/person/service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
